DMS_API_BASE_URL=http://localhost:5010
DMS_CLIENT_BASE_URL=http://localhost:3000
DMS_BOOTSTRAP_SECRET=replace_with_a_strong_random_value
NUXT_SESSION_PASSWORD=replace_with_at_least_32_random_characters
STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_PUBLISHABLE_KEY=pk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
